.navbar {
    background-color: #1d1f2b;
    width: 100%;
    padding: 1rem 2rem;
    
}
.navbarContainer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.navbar .logo {
    font-size: 30px;
    font-weight: 800;
    display: flex;
    gap: 10px;
}
.navbar form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 0.5rem;
}
.navbar input {
    background-color: #292c42;
    padding: 0.2rem 0.8rem;
    width: 250px;
    color: #fff;
    outline: none;
    height: 20px;
    border: none;
    height: 100%;
}
.navbar button {
    border: none;
    background-color: #6421ff;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    padding: .3rem;
    border-radius: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .4s;
}
.navbar button:hover {
    filter: brightness(1.2);
}

@media (max-width: 575px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }
} 